<h1>みんなのレビュー</h1>

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p> 
        <% if current_user %>
          <%= link_to 'レビューを投稿する', 'tweets/new2' %>
        <% end %>
    </p>
</body>
</html>