<%= form_for @tweet, url: {action: :create} do |f| %>

<div id= "wrapper">
  <div id="A"><span class="line">距離</span></div>
  <div id="B"><span class="line">カテゴリ</span>
    <p>
      <img src="/assets/レストラン.jpg" alt=""></img>
    </p>
    
    <p>
      <img src="/assets/レストラン.jpg" alt=""></img>
    </p>
    
    <p>
      <img src="/assets/レストラン.jpg" alt=""></img>
    </p>
    
    <p>
      <img src="/assets/ラーメン.jpg" alt=""></img>
    </p>
    
    
    
    
  </div>
  <div id="C"><span class="line">店舗名</span>
    <P>
      ココス
    </P>
    <p>
      ジョイフル
    </p>
    <p>
      ジョリーパスタ
    </p>
    <p>
      石田一龍
    </p>
  </div>
</div>

<div id=


<% end %>