#wrapper{
    width:500px;
    height:500px;
    margin:0 auto;
}

.line {
  text-decoration: underline;
}

#A{
	text-align:center;
	font-size:25px;
	height:100%;
	
	float:right;
	width:33%;
}
#B{
	text-align:center;
	font-size:25px;
	height:100%;
	
	float:left;
	width:33%;
}


img{
   
    height: 20px;
    width: 20px;
}



#C{
    text-align:center;
    font-size:25px;
    height:100%;
    
    float:right;
    width:34%;
}


